/*Media queries*/
@media screen {}

/* Le code CSS spécifique à la page d'accueil */
/* reinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --vert: #016663;
    --noir: #141414;
    --blanc: #fbffff;
    --orange: #EA9666;
    --big: 24px;
    --Typo: "Space Grotesk";
    --H1: 45px;
    --H2: 36px;
    --H2WEIGHT: 800;
    --H3: 20px;
    --Bouton: 22px;
    --TexteUnPeuGrand: 19px;
    --TexteGrand: 30px;
    --TexteMedium: 20px;
    --Paragraphe: 16px;
    --NumSpecial: 60px;

}

body {
    font-family: "Space Grotesk", sans-serif;

    .button {
        background-color: #EA9666;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
        text-decoration: none;
    }

}

/* padding h2 */
.paddingH {
    padding: 25px 0px 25px 0px;
    text-align: center;
    color: #364141;
}

.titreDoc {
    padding: 25px 0px 25px 0px;
    text-align: center;
    color: #016663;

}

/* Style global */

.padding-section {
    padding: 120px 24px;
}

.container {
    margin: auto;
    max-width: 1080px;
}

/*Tony*/
#courbeVerte {
    /* padding-bottom:20px; */
    margin-bottom: 20px;
}

/* #btnTelechargerApp {
    margin-bottom:20px;
    padding-bottom:10px; 
} */

.boxShadow {
    box-shadow: 5px;
}

section.CTA {
    height: 600px;
    background-color: #EFF1F1;
    color: #016663;
    padding-top: 10px;
    text-align: center;

    p {
        color: #364141;
    }

    img.getOnApp {
        width: 10%;
    }

    img.telephonesCTA {
        width: 30%;
    }

    .titreEtGetOnApp {
        justify-content: center;
        align-items: center;
    }
}

.sponsor {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;

    img {
        width: 5%;
    }
}

/* Problématique */
#problematique {
    background-color: #E2F3F2;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;

    }

    .premierBlocProblematique {
        /* background-color:blue; */
        display: flex;
        flex-direction: column;
        gap: 60px;

        p {
            font-size: 23px;
            /* margin-top:30px; */
            margin-left: 30px;
            /* width:530px; */
        }

        #stats {
            font-size: 12px;
            margin-top: 200px;
            font-style: italic;
        }
    }



    span {
        font-size: var(--NumSpecial);
        color: #016663;
        font-weight: bold;

    }

}

.container h2 {
    color: #016663;
    font-size: var(--NumSpecial);
}

.card {
    background: white;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 24px;
    box-shadow: 1px 1px 20px #00000045;

    p {
        font-size: var(--TexteMedium);
    }
}

.test {
    transform: rotatez(10deg);
}

.test2 {
    transform: rotateZ(352deg);
}

/* solution */
#solution {
    height: 75vh;
    padding: 50px;

    h2 {
        font-size: var(--H2);
        font-weight: var(--H2WEIGHT);
        text-align: center;
        color: var(--vert);
        padding: 15px 0px 15px 0px;
    }

    p {
        padding: 25px 0px 25px 0px;
    }

}

.specp {
    text-align: center;
    font-weight: 500;
    font-size: var(--H3);
    padding: 25px 0px 25px 0px;
}

.carteEtape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:center; */
    text-align: center;
    gap: 24px;
    border-radius: 5px;
    margin: auto;


    img {
        border-radius: 10px;
        width: 100%;
        height: 200px;
        /* box-shadow: 3px; */
        /* object-fit: cover; */
        background-size: cover;
        background-repeat: no-repeat;

    }

    .cardMini {
        width: 400px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.071);
        /* box-shadow: 5px, 5px, 5px, black; */
        border-radius: 10px;
    }
}

/* partie header , ne touchez pas */


header {
    height: 100vh;
    position: relative;
    overflow: hidden;

    h1 {
        margin-top: 13vh;
        font-size: var(--H1);
    }

    #panierFruit {
        bottom: -4vh;
        right: -5vw;
    }

}

header>img {
    position: absolute;
    height: 74vh;
}

header>svg {
    height: fit-content;
    position: absolute;
    bottom: -131px;
}

#accueil {
    .container {
        transform: matrix(1, 0, 0, 1, 0, 0);
        height: 60vh;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .infos {
        margin-top: 26vh;
        color: white;
        font-size: 19px;
        /* h3{
            padding-bottom:15px;
        } */

    }
}

/* boutons */
.button {
    background-color: #EA9666;
    color: white;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}




/* ancien button {
        background-color: var(--noir);
        color: var(--blanc);
        font-size: 22px;
        padding: 10px 10px;
        border-style: none;
        border-radius: 5px;
        box-shadow: inset 0px 0px 0px 1px #eafeff;
        border-style: groove;
        border-block-color: #364141;
    } */


nav {
    display: flex;
    justify-content: center;
    padding: 30px 0PX 30px;
    align-items: center;
    margin: 0;
    gap: 90px;
    background-color: var(--noir);
    font-weight: 600;
    letter-spacing: 2px;

    a {
        text-decoration: none;
        color: var(--blanc);
        font-size: var(--TexteUnPeuGrand);
    }

    svg {
        height: 30px;
    }
}


/* Benefices */

.relative {
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    img {

        width: 310px;
        float: right;
    }
}

#benefices .wrapper p {
    color: white;
    position: absolute;
    left: 010%;
    top: 50%;
    max-width: 80%;
    font-size: 30px;
    transform: translateY(-50%);
}

.wrapper>div {
    border: 2px solid #E2F3F2;
    border-radius: 10px;
    background-color: #016663;
    padding: 1em;
    color: black;
    font-size: 30px;
}

.one {
    grid-area: 1 / 1 / 3 / 4;
}

.two {
    grid-area: 1 / 4 / 3 / 6;
}

.three {
    grid-area: 3 / 1 / 5 / 3;
}

.four {
    grid-area: 3 / 3 / 5 / 6;
}

/* section temoignages */
#Temoignage {
    background-color: white;
    text-align: center;

    h2 {
        justify-self: center;
        gap: 9px;
        padding-top: 212px;
        padding-bottom: 46px;
        /* text-align: center; */
    }

    p {
        text-align: left;
    }

    #etoileFilanteTemoin {

        /* background-color: red; */
        img {
            margin-top: 100px;
        }
    }
}

.temoin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.cardtemoin {
    max-width: 250px;
    background-color: #016663;
    padding: 20px;
    border-radius: 15px;

    img {
        max-width: 200px;
    }

    p {
        color: #EAFEFF;
    }

    h3 {
        color: #EAFEFF;
        font-weight: bold;
        padding: 20px;

    }

}

.navDoc {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
        text-decoration: none;
        color: var(--noir);
        font-size: 15px;
        font-family: "Space Grotesk", sans-serif;
        /* background-color: blue; */
    }

    svg {
        height: 30px;
        /* display:inline; */
        /* color:black; */
    }

}

/* PARTIE DOC */
.headerDoc {
    height: 500px;


    .navDoc {
        background-color: white;
        display: flex;
        justify-content: center;
        gap: 20px;


        a {
            text-decoration: none;
            color: var(--noir);
            font-size: 15px;
            font-family: "Space Grotesk", "sans-serif";
        }

        svg {
            height: 30px;
            /* display:inline; */
            /* color:black; */
        }

    }
}

.logoEtNavContainer {
    padding: 15px 30px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.nav {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px;
    /* font-size: var(--TexteUnPeuGrand); */

    a {
        text-decoration: none;
        color: var(--blanc);
        /* font-size: var(--big); */
        /* font-size: var(--TexteUnPeuGrand);
        font-family: "Space Grotesk", sans-serif; */
        font-size: var(--TexteUnPeuGrand);
    }

    svg {
        height: 30px;
    }
}

/* flex row */
.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;


}

#h2Doc {
    color: white;
    font-size: 30px;
}

/* section hero documentation */
.containerHeroDeux {
    width: 500px;
    margin: auto;
    color: white;
}

/* Section Contexte */
.backgroundGreen {
    background-color: #016663;
    color: rgb(244, 239, 239);
}

.texteContexte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 50vh;
}

.imgEmptyCart {
    width: 100px;
    float: left;
    padding-top: 15px;
    padding-right: 15px;
}

/*Section pour qui*/
.backgroundMintGreen {
    background-color: #E2F3F2;
    color: #016663;
}

/* Persona */
#persona {
    width: 700px;

    img {
        border-radius: 25px;
        width: 100%;
    }

}

/* services */
.service {
    background-color: var(--turquoise);

    img {
        width: 100px;
    }

    .serviceContainer {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 75px;
        text-align: center;
    }
}

h2 {
    text-align: center;
    color: var(--vert);
}

.contenu-footer {

    text-align: center;
}

/* .abonnez {

    button {
        padding: 12px 24px;
        background: linear-gradient(135deg, #016663, #016663);
        color: #EAFEFF;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: transform .2s, box-shadow .2s;
    }
} */

/*ecologie*/
.ecologie {
    margin: auto;
    width: 700px;

    img {
        width: 60%;
    }

    .container {
        margin: auto;
        max-width: 1080px;

    }
}

/* maquette */
#userflow {
    img {
        width: 700px;
        text-align: center;
    }
}

/* prototype Figma */
.prototype {
    h3 {
        color: #016663;
    }
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* section ACT*/

/* .telechargement {
    .button {
        background-color: #016663;
        color: white;
        border-radius: 12px;
    }
} */

/* footer section */
#footerDoc {

    p,
    h3 {
        font-size: 15px;
    }

    .flexOne {
        flex: 1;
        padding-top: 20px;
    }

    .pre-line {
        white-space: pre-line;
    }

    .mt-24px {
        display: inline-block;
        margin-top: 24px;
    }

    .mb-24px {
        margin-bottom: 24px;
    }

    #textArea {
        height: 25px;
    }

    margin-bottom: 12px;
    font-size: 18px;
}

.spaceGrotesk {
    font-family: "Space Grotesk", sans-serif;
    /* background-color:blue; */
    /* color:blue; */
}