/*Media queries*/
@media screen {}

/* Le code CSS spécifique à la page d'accueil */
/* reinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --vert: #016663;
    --noir: #141414;
    --blanc: #fbffff;
    --orange: #EA9666;
    --big: 24px;
    --Typo: "Space Grotesk";
    --H1: 45px;
    --H2: 36px;
    --H2WEIGHT: 800;
    --H3: 20px;
    --Bouton: 22px;
    --TexteUnPeuGrand: 19px;
    --TexteGrand: 30px;
    --TexteMedium: 20px;
    --Paragraphe: 16px;
    --NumSpecial: 60px;

}
#accueil{
    .container{
        gap: 30vh;
        h1{
            color: #364141;
        }
    }
}
/* code global */
body {
    font-family: "Space Grotesk", sans-serif;

    .button {
        background-color: #EA9666;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
        text-decoration: none;
        border: none;
    }

}



body::-webkit-scrollbar {

    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {

    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--vert);
}



h2 {
    line-height: 1.1;
    color: #016663;
    font-size: var(--NumSpecial);
    margin-bottom: 14px;

}

h3 {
    font-size: 28px;
}

.text-center {
    text-align: center;
}

/* container */
section {
    padding: 120px 24px;
}

.container {
    margin: auto;
    max-width: 1080px;
}

/* padding h2 */


.titreDoc {
    padding: 25px 0px 25px 0px;
    text-align: center;
    color: #016663;

}

/* Style global */


#courbeVerte {
    /* padding-bottom:20px; */
    min-height: 50vh;
    min-width: 100vw;
    bottom: 0;
    position: absolute;
    /* top: 40vh;
    left: 50vw; */
    top: 40vh;
    left: 66vw;
    transform: translate(-50%, -16vh);
}

.textLeft {
    text-align: left;
}

.boxShadow {
    box-shadow: 5px;
}

.CTA {
    background-color: #cbdbdb;

    img.getOnApp {
        width: 10%;
    }

    img.telephonesCTA {
        width: 30%;
    }

    .logoCTA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 35px;

        img {
            width: 90px;
            border-radius: 5px;
        }

    }

    .titreEtGetOnApp {
        align-items: center;
        margin-top: 64px;
    }
}

.sponsor {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 88px;
    

    img {
        height: 80px;

    }
}



/* Problématique */
#problematique {
    background-color: #E2F3F2;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;

    }

    #stats {
        font-size: 10px;
        font-style: italic;
        margin-top: 100px;
    }

    .premierBlocProblematique {
        /* background-color:blue; */
        display: flex;
        flex-direction: column;

        p {
            font-size: 23px;
            /* margin-top:30px; */
            /* width:530px; */
        }

    }



    span {
        font-size: var(--NumSpecial);
        color: #016663;
        font-weight: bold;

    }

}



.card {
    background: white;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 24px;
    box-shadow: 1px 1px 20px #00000045;

    p {
        font-size: var(--TexteMedium);
    }
}

.test {
    transform: rotatez(10deg);
}

.test2 {
    transform: rotateZ(352deg);
}

.card:hover {
    background: #008f8b;
    color: #F5F5F5;
    transition: all 0.2s ease;
}

/* solution */
#solution {
    h3 {
        color: var(--vert);
    }
}

.carteEtape {
    display: flex;
    justify-content: center;
    /* flex-wrap:wrap; */
    text-wrap: wrap;
    text-align: center;
    gap: 32px;
    margin-top: 64px;
    padding: 5px;

    h3 {
        color: var(--vert);
    }


    img {
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: top;

    }

    .cardMini {
        width: 400px;
        /* box-shadow: 5px, 5px, 5px, black; */
        border-radius: 12px;
        overflow: hidden;

        div {
            padding: 12px 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }

    }
}

.cardMini:hover {

    border-style: solid;
    border-color: #016663;
    transition: all 0.2s ease;
}

/* partie header , ne touchez pas */


header {
    height: 100vh;
    position: relative;
    overflow: hidden;

    h1 {

        font-size: var(--H1);
        height: 15vh;
        display: flex;
        
    }

    .panierFruit {
        bottom: -4vh;
        right: -5vw;
        /* z-index: -1; */
    }

}

header>img {
    position: absolute;
}

header>svg {
    height: fit-content;
    position: absolute;
    bottom: 0;
    height: 50vh;
}

#accueil {
    height: -webkit-fill-available;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12vh;

    .container {
        /* z-index: 1;
        height: 60vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 50vw;
        gap: 15vh;
        margin: 0; */
                z-index: 1;
        height: 60vh;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        width: 49vw;
        gap: 33vh;
        margin: 0;
    }

    .infos {
        color: white;
        font-size: 19px;
        /* h3{
            padding-bottom:15px;
        } */

    }
}

/* boutons */
.button {
    background-color: #EA9666;
    color: white;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.button:hover {

    border-style: groove;
    box-shadow: 4px 4px 0px 1px white;
    transition: ease;
}




/* ancien button {
        background-color: var(--noir);
        color: var(--blanc);
        font-size: 22px;
        padding: 10px 10px;
        border-style: none;
        border-radius: 5px;
        box-shadow: inset 0px 0px 0px 1px #eafeff;
        border-style: groove;
        border-block-color: #364141;
    } */


nav {
    display: flex;
    justify-content: center;
    padding: 30px 0PX 30px;
    align-items: center;
    margin: 0;
    gap: 90px;
    background-color: var(--noir);
    font-weight: 600;
    letter-spacing: 2px;

    a {
        text-decoration: none;
        color: var(--blanc);
        font-size: var(--TexteUnPeuGrand);
    }

    a:hover {
        color: #EA9666;
        transition: all 0.2s ease;
    }

    svg {
        height: 30px;
    }
}

.one:hover {
    background-color: #008f8b;

    transition: all 0.2s ease;
}

.two:hover {
    background-color: #008f8b;

    transition: all 0.2s ease;

}

.three:hover {
    background-color: #008f8b;

    transition: all 0.2s ease;

}

.four:hover {
    background-color: #008f8b;
    transition: all 0.2s ease;

}


/* Benefices */

.relative {
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top: 64px;
    text-align: left;

    img {

        width: 310px;
        float: right;
    }

    .content {
        color: white;
        position: absolute;
        left: 10%;
        top: 50%;
        max-width: 80%;
        transform: translateY(-50%);
    }

    p {
        font-size: 20px;
        opacity: .8;
    }
}


.wrapper>div {
    border: 2px solid #E2F3F2;
    border-radius: 10px;
    background-color: #016663;
    padding: 1em;
}

.one {
    grid-area: 1 / 1 / 3 / 4;
}

.two {
    grid-area: 1 / 4 / 3 / 6;
}

.three {
    grid-area: 3 / 1 / 5 / 3;
}

.four {
    grid-area: 3 / 3 / 5 / 6;
}

/* section temoignages */
#Temoignage {

    #etoileFilanteTemoin {

        /* background-color: red; */
        img {
            margin-top: 100px;
        }
    }
}

.temoin {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

.cardtemoin {
    max-width: 250px;
    background-color: #016663;
    padding: 20px;
    border-radius: 15px;

    img {
        max-width: 200px;
    }

    p {
        color: #EAFEFF;
    }

    h3 {
        color: #EAFEFF;
        font-weight: bold;
        padding: 20px;

    }

}

.navDoc {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
        text-decoration: none;
        color: var(--vert);
        font-size: 15px;
        font-family: "Space Grotesk", sans-serif;
        /* background-color: blue; */
    }

    svg {
        height: 30px;
        /* display:inline; */
        /* color:black; */
    }

}

/* PARTIE DOC */
.headerDoc {
    height: 500px;
    background-image: url("assets/hero/Food-Suplements--Streamline-Milano.png");

    .navDoc {
        background-color: white;
        display: flex;
        justify-content: center;
        gap: 20px;


        a {
            text-decoration: none;
            color: var(--vert);
            font-size: 15px;
            font-family: "Space Grotesk", "sans-serif";
        }

        svg {
            height: 30px;
            /* display:inline; */
            /* color:black; */
        }

    }
}

.logoEtNavContainer {
    padding: 15px 30px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: var(--vert);
    position: absolute;
    width: 100%;
}


.nav {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px;
    /* font-size: var(--TexteUnPeuGrand); */

    a {
        text-decoration: none;
        color: var(--blanc);
        /* font-size: var(--big); */
        /* font-size: var(--TexteUnPeuGrand);
        font-family: "Space Grotesk", sans-serif; */
        font-size: var(--TexteUnPeuGrand);
    }

    svg {
        height: 30px;
    }
}

/* flex row */
.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;



}

/* section hero documentation */
.containerHeroDeux {
    width: 500px;
    /* margin: auto; */
    margin-left: 200px;
    margin-top: 160px;
    color: white;
}

/* Section Contexte */
.backgroundGreen {
    background-color: #016663;
    color: rgb(244, 239, 239);
}

.texteContexte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    /* padding-top:50px; */
    text-align: left;
    /* height: 50vh; */
    /* margin: auto; */
}


.imgEmptyCart {
    width: 200px;
    float: left;
    height: 200px;
    padding-top: 15px;
    margin-top: 30px;
    padding-right: 15px
}

.dameAvecPoussette {
    width: 260px;
    padding-top: 15px;
    padding-right: 15px;
}

/*Section pour qui*/

.backgroundMintGreen {
    background-color: #E2F3F2;
}

#persona {
    img {
        width: 700px;
    }
}

/* services */
#service {
    background-color: var(--turquoise)
    /* .cardMini, img {
        /* width: 30%; */
    /* object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat; */
}

.imgService {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--vert);
    width: 25%;
}


/* img {
        width: 200px;
    } */

.serviceContainer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 75px;
    text-align: center;
    gap: 20px;
}



.serviceCard {
    width: 300px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.071);
    border-radius: 12px;
    overflow: hidden;
}


.contenu-footer {

    text-align: center;
}

/* .abonnez {

    button {
        padding: 12px 24px;
        background: linear-gradient(135deg, #016663, #016663);
        color: #EAFEFF;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: transform .2s, box-shadow .2s;
    }
} */

/*ecosysteme*/
#ecosysteme {
    margin: auto;

    p {
        text-align: left;
    }


    img {
        width: 60%;
    }

    .container {
        margin: auto;
        max-width: 1080px;

    }
}

/* maquette */
#maquette {
    p {
        color: #141414;
        padding-bottom: 40px;
    }

    h3 {
        color: var(--vert);
    }
}

.fonction {
    display: flex;
    flex-direction: row;
}

.maquetteImg {
    width: 1080px;
}

.maquetteImgDeux {
    width: 50%;
}

/* userflow */
#userflow {
    img {
        width: 1000px;
        text-align: center;
    }
}

/* prototype Figma */
.prototype {
    h3 {
        color: #016663;
    }
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* .telechargement {
    .button {
        background-color: #016663;
        color: white;
        border-radius: 12px;
    }
} */

/* footer section */
#footerDoc {

    p,
    h3 {
        font-size: 15px;
    }

    .flexOne {
        flex: 1;
        padding-top: 20px;
    }

    .pre-line {
        white-space: pre-line;
    }

    .mt-24px {
        display: inline-block;
        margin-top: 24px;
    }

    .mb-24px {
        margin-bottom: 24px;
    }

    #textArea {
        height: 25px;
    }

    margin-bottom: 12px;
    font-size: 18px;
}

.spaceGrotesk {
    font-family: "Space Grotesk", sans-serif;
    /* background-color:blue; */
    /* color:blue; */
}

.contexte-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}