/* Le code CSS spécifique à la page d'accueil */
/* reinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




:root {
    --vert: #016663;
    --noir: #141414;
    --blanc: #fbffff;
    --orange: #EA9666;
    --big: 24px;
    --Typo: "Space Grotesk";
    --H1: 45px;
    --H2: 36px;
    --H2WEIGHT: 800;
    --H3: 20px;
    --Bouton: 22px;
    --TexteUnPeuGrand: 19px;
    --TexteGrand: 30px;
    --TexteMedium: 20px;
    --Paragraphe: 16px;
    --NumSpecial: 60px;

}

body {
    font-family: "Space Grotesk", sans-serif;

}

/*Main container*/
.mainContainer {
    margin: auto;
    width: 1200px;
}

/* padding h2 */
.paddingH {
    padding: 25px 0px 25px 0px;
    text-align: center;
    color: #364141;
}

.titreDoc {
    padding: 25px 0px 25px 0px;
    text-align: center;
    color: #016663;

}

/* Style global */

.padding-section {
    padding: 120px 24px;
}

.container {
    margin: auto;
    max-width: 1080px;
}

/*Tony*/
.boxShadow {
    box-shadow: 5px;
}

section.CTA {
    height: 600px;
    background-color: #EFF1F1;
    color: #016663;
    padding-top: 10px;
    text-align: center;

    p {
        color: #364141;
    }

    img.getOnApp {
        width: 10%;
    }

    img.telephonesCTA {
        width: 30%;
    }

    .titreEtGetOnApp {
        justify-content: center;
        align-items: center;
    }
}

.sponsor {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;

    img {
        width: 5%;
    }
}

/* Problématique */
#problematique {
    background-color: #E2F3F2;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;

    }

    span {
        font-size: var(--NumSpecial);
        color: #016663;
        font-weight: bold;

    }

}

.container h2 {
    color: #016663;
    font-size: var(--NumSpecial);
}

.card {
    background: white;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 24px;
    box-shadow: 1px 1px 20px #00000045;

    p {
        font-size: var(--TexteMedium);
    }
}

.test {
    transform: rotatez(10deg);
}

.test2 {
    transform: rotateZ(352deg);
}

/* solution */
#solution {
    height: 75vh;
    padding: 50px;

    h2 {
        font-size: var(--H2);
        font-weight: var(--H2WEIGHT);
        text-align: center;
        color: var(--vert);
        padding: 15px 0px 15px 0px;
    }

    p {
        padding: 25px 0px 25px 0px;
    }

}

.specp {
    text-align: center;
    font-weight: 500;
    font-size: var(--H3);
    padding: 25px 0px 25px 0px;
}

.carteEtape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:center; */
    text-align: center;
    gap: 24px;
    border-radius: 5px;
    margin: auto;
    

    img {
        border-radius: 10px;
        width: 80%;
        height: 200px;
        /* box-shadow: 3px; */
        object-fit: cover;

    }

    .cardMini {
        width: 400px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.071);
        /* box-shadow: 5px, 5px, 5px, black; */
    }

}


/* partie header , ne touchez pas */


header {
    height: 100vh;
    position: relative;
    overflow: hidden;

    h1 {
        margin-top: 13vh;
        font-size: var(--H1);
    }

    #panierFruit {
        bottom: -4vh;
        right: -5vw;
    }

}

header>img {
    position: absolute;
    height: 74vh;
}

header>svg {
    height: fit-content;
    position: absolute;
    bottom: -131px;
}

#accueil {
    .container {
        transform: matrix(1, 0, 0, 1, 0, 0);
        height: 60vh;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .infos {
        margin-top: 26vh;
        color: white;
        font-size: 19px;


    }

    button {
        background-color: var(--noir);
        color: var(--blanc);
        font-size: 22px;
        padding: 10px 10px;
        border-style: none;
        border-radius: 5px;
        box-shadow: inset 0px 0px 0px 1px #eafeff;
        border-style: groove;
        border-block-color: #364141;
    }
}

nav {
    display: flex;
    justify-content: center;
    padding: 30px 0PX 30px;
    align-items: center;
    margin: 0;
    gap: 90px;
    background-color: var(--noir);
    font-weight: 600;
    letter-spacing: 2px;

    a {
        text-decoration: none;
        color: var(--blanc);
        font-size: var(--TexteUnPeuGrand);
    }

    svg {
        height: 30px;
    }
}




/* Benefices */

.relative {
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    img {

        width: 310px;
        float: right;
    }
}

#benefices .wrapper p {
    color: white;
    position: absolute;
    left: 010%;
    top: 50%;
    max-width: 80%;
    font-size: 30px;
    transform: translateY(-50%);
}

.wrapper>div {
    border: 2px solid #E2F3F2;
    border-radius: 10px;
    background-color: #016663;
    padding: 1em;
    color: black;
    font-size: 30px;
}

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
} */

/* .one {
    grid-column: 1 / 3;
    grid-row: 1;
}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;
}

.four {
    grid-column: 3;
    grid-row: 3;
} */


.one {
    grid-area: 1 / 1 / 3 / 4;
}

.two {
    grid-area: 1 / 4 / 3 / 6;
}

.three {
    grid-area: 3 / 1 / 5 / 3;
}

.four {
    grid-area: 3 / 3 / 5 / 6;
}

#Temoignage {
    background-color: white;

    h2 {
        justify-self: center;
        gap: 9px;
        padding-top: 212px;
        padding-bottom: 46px;
    }

}

.temoin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.cardtemoin {
    max-width: 250px;
    background-color: #016663;
    padding: 20px;
    border-radius: 15px;

    img {
        max-width: 200px;
    }

    p {
        color: #EAFEFF;
    }

    h3 {
        color: #EAFEFF;
        font-weight: bold;
        padding: 20px;

    }

}




/* PARTIE DOC */


.nav {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px;
    /* align-items: center; */
    margin: 0;
    gap: 90px;
    height: 800px;
    background-image: url("assets/doc/background/nav_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 2000px; */
    /* background-color: var(--noir); */

    a {
        text-decoration: none;
        color: var(--blanc);
        font-size: var(--big);
    }

    svg {
        height: 30px;
    }
}

/*Main container*/
.mainContainer {
    margin: auto;
    width: 1200px;
}

.texteContexte {
    width: 800px;
    padding-top: 50px;
}

/*pour qui*/
.pourquifaite {
    h2 {
        color: var(--vert);
    }

    text-align:center;

    .textepourqui {
        width: 800px;
    }
}

/* Persona */
#persona {
    width: 700px;

    img {
        border-radius: 70px;
        width: 100%;
        box-shadow: 1px 1px 20px #00000045;
    }

}

/* services */
.service {
    background-color: var(--turquoise);

    img {
        width: 100px;
    }

    .serviceContainer {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 75px;
        text-align: center;
    }
    .serviceBloc{

    }
    
}

h2 {
    text-align: center;
    color: var(--vert);
}

.contenu-footer {

    text-align: center;
}

.abonnez {

    button {
        padding: 12px 24px;
        background: linear-gradient(135deg, #016663, #016663);
        color: #EAFEFF;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: transform .2s, box-shadow .2s;
    }
}

/*ecologie*/
.ecologie {
    margin: auto;
    width: 700px;
}

#ecologie {
    img {
        width: 100%;

    }
}

/* maquette */
.maquette {
    img {
        width: 700px;
        text-align: center;
    }
}